# copy Spring's annotations from private final fields to generated @RequiredArgsConstructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# setteri generati intorc this => nu mai ai nevoie de builderi daca ai setteri
lombok.accessors.chain=true