<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="victor.training.spring.transactions.MyBatisMapper">
    <insert id="insertMessage" parameterType="victor.training.spring.transactions.Message">
        INSERT INTO MESSAGE(id, MESSAGE)
        VALUES (#{id}, #{message})
    </insert>

    <select id="search" resultType="victor.training.spring.transactions.Message">
        SELECT message, id from MESSAGE where id = #{id}
        <!--WHERE 1=1
        <if test="name != null">
            AND upper(name) like '%' || UPPER(#{name}) || '%'
        </if>
        <if test="phoneNumber != null">
            AND upper(phone_number) like '%' || UPPER(#{phoneNumber}) || '%'
        </if>-->
    </select>

</mapper>